%section.header
  .wrapper
    %h2 Questions
    %p
      Below is a list of every question you've ever recieved. You should have
      seen all of these already, as they were sent to your email address. Just
      in case, however, you can also view them here.

%section.content
  .wrapper
    = will_paginate @questions
    %ol
      - @questions.each do |question|
        %li
          = link_to question do
            .name= question.name
            .email= question.email
            .message= truncate question.message, length: 100
            .date= question.created_at.strftime '%b %d'

    = will_paginate @questions
