%p#notice= notice

%p
  %b Name:
  = @question.name
%p
  %b Email:
  = @question.email
%p
  %b Phone:
  = @question.phone
%p
  %b Message:
  = @question.message

= link_to 'Edit', edit_question_path(@question)
\|
= link_to 'Back', questions_path
