%section.header
  .wrapper
    %h2
      Question from
      = @question.name

%section.content.show
  .wrapper
    .question-detail
      = link_to 'Back to questions', questions_path, class: 'back'
      %p
        Message recieved at
        %strong= @question.created_at.strftime '%I:%M %p'
        on
        %strong= @question.created_at.strftime '%B %d'
        from
        %strong= @question.name
        (
        = @question.email
        ).

      %p.message-content= @question.message

:javascript
  questions.init()
