%section.header
  .wrapper
    %h2 Articles
    %p
      Below you can find various articles relating to obstetrics, infants/children,
      adolescents, and adult medicine. These articles can answer many questions
      not covered in the frequently asked questions section of this site.

%section.content.index
  .wrapper
    .categories
      - Category.all.each do |category|
        %div= link_to_unless_current category.title, category_articles_path(category)

    - if @category
      = render 'partials/search_form', search_path: search_category_articles_path(@category)
    - else
      = render 'partials/search_form', search_path: search_articles_path

    = render @articles
    = will_paginate @articles

:javascript
  articles.init()
  window.search = new Search('#search')
