%section.header
  .wrapper
    %h2 Articles
    %p
      Below is a list of my most frequently asked questions. The majority of
      these questions relate to prenatal care, and should be used as a reference
      throughout your pregnancy. Keep in mind that even though this information
      is intended for the patients of Saint Francis Hopsital in Oklahoma, it can
      be helpful for anyone.

%section.content
  .wrapper
    = will_paginate @articles
    - @articles.each do |article, index|
      %article.article
        = link_to article do
          %h1= article.title
          .markdown
            %p= redcarpet truncate article.content, length: 400

    = will_paginate @articles

:javascript
  articles.init()
