%section.header
  .wrapper
    %h2 Frequently Asked Questions
    %p
      Below is a list of the most frequently asked questions. The majority of
      these questions relate to prenatal care, and should be used as a reference
      throughout your pregnancy. Keep in mind that even though this information
      is intended for the patients of Saint Francis Hopsital in Oklahoma, it can
      be helpful for anyone.

%section.content.index
  .wrapper
    .categories
      - Category.all.each do |category|
        %div= link_to_unless_current category.title, category_answers_path(category)

    - if @category
      = render 'partials/search_form', search_path: search_category_answers_path(@category)
    - else
      = render 'partials/search_form', search_path: search_answers_path

    = render @answers
    = will_paginate @answers

:javascript
  answers.init()
  window.search = new Search('#search')

  