%section.header
  .wrapper
    %h2 Office location and contact information changing
    %p
      %a Dr. Nicoll
      is currently located at St. Francis South. Previously he was practicing at South Crest for nine years and has been in the field since 1992. Dr. Nicoll practices family medicine but also specializes in women's health and obstetrics.

%section.gallery
  .wrapper
    %ul
      %li.one.prev
      %li.two.left
      %li.three.current
      %li.four.right
      %li.five.next
      %li.six
      %li.seven
      %li.eight
      %li.nine

%section.dark-banner
  .stitched-border
  .wrapper
    - @answers.each do |answer|
      = link_to answer do
        = image_tag ''
        %h1= answer.question
        %p= truncate answer.content, length: 80
  .stitched-border

%section.content
  .wrapper
    - @articles.each do |article|
      %article
        %h1= article.title
        %p= truncate(article.content, length: 400).html_safe
        = link_to 'Read More »', article

:javascript
  home.init()

