%section.header
  .wrapper
    %h2 Now practicing at St. Francis
    %p
      Dr. Nicoll is currently located at St. Francis South. Previously he was
      practicing at South Crest for nine years and has been in the field since
      1992. Dr. Nicoll practices family medicine but also specializes in
      women's health and obstetrics.

%section.gallery
  .wrapper
    %ul
      %li{ style: "background-image: url('/gallery/01.jpg');", class: 'prev' }
      %li{ style: "background-image: url('/gallery/02.jpg');", class: 'left' }
      %li{ style: "background-image: url('/gallery/03.jpg');", class: 'current' }
      %li{ style: "background-image: url('/gallery/04.jpg');", class: 'right' }
      %li{ style: "background-image: url('/gallery/05.jpg');", class: 'next' }
      %li{ style: "background-image: url('/gallery/06.jpg');" }
      %li{ style: "background-image: url('/gallery/07.jpg');" }
      %li{ style: "background-image: url('/gallery/08.jpg');" }
      %li{ style: "background-image: url('/gallery/09.jpg');" }
      %li{ style: "background-image: url('/gallery/10.jpg');" }
      %li{ style: "background-image: url('/gallery/11.jpg');" }

%section.dark-banner
  .stitched-border
  .wrapper
    - @answers.each do |answer|
      - if current_user
        = link_to edit_answer_path(answer) do
          %h1= answer.question
          %p= truncate answer.content, length: 80
      - else
        = link_to answer do
          %h1= answer.question
          %p= truncate answer.content, length: 80
  .stitched-border

%section.content
  .wrapper
    - @articles.each do |article|
      %article
        %h1= article.title
        .markdown
          %p= redcarpet truncate article.content, length: 400
        - if current_user
          = link_to 'Read More »', edit_article_path(article)
        - else
          = link_to 'Read More »', article

:javascript
  home.init()

