%section.header
  .wrapper
    %h2 Now practicing at St. Francis South
    %p
      Dr. Nicoll is currently located in the Bishop Building on the campus of
      St Francis South. He has been in Tulsa, Oklahoma since 2003. Dr Nicoll is board
      certified in Family Medicine with an emphasis on Women's Health and
      Obstetrics.

%section.gallery
  .wrapper
    %ul
      %li{ style: "background-image: url('/gallery/01.jpg');", class: 'prev' }
      %li{ style: "background-image: url('/gallery/02.jpg');", class: 'left' }
      %li{ style: "background-image: url('/gallery/03.jpg');", class: 'current' }
      %li{ style: "background-image: url('/gallery/04.jpg');", class: 'right' }
      %li{ style: "background-image: url('/gallery/05.jpg');", class: 'next' }
      %li{ style: "background-image: url('/gallery/06.jpg');" }
      %li{ style: "background-image: url('/gallery/07.jpg');" }
      %li{ style: "background-image: url('/gallery/08.jpg');" }
      %li{ style: "background-image: url('/gallery/09.jpg');" }
      %li{ style: "background-image: url('/gallery/10.jpg');" }
      %li{ style: "background-image: url('/gallery/11.jpg');" }

%section.dark-banner
  .stitched-border
  .wrapper
    - @answers.each do |answer|
      = link_to answer do
        %h1= answer.question
        %p= truncate answer.content, length: 80
  .stitched-border

%section.content
  .wrapper
    %h1 Where would you like to start?
    .categories
      - Category.all.each do |category|
        .category= link_to category.title, category_articles_path(category)

    - @articles.each do |article|
      %article
        %h1= article.title
        .markdown
          %p= redcarpet truncate article.content, length: 400
        = link_to 'Read More »', article

:javascript
  home.init()

