%section.header
  .wrapper
    %h2 Office location and contact information changing
    %p My satellite office in Wagoner, OK will reopen on June 5th for OB and Women's Health. Patients can call the same phone number to book appointments. I am still working at both hospitals, and will be there to take care of them.

%section.gallery
  .wrapper
    %ul
      %li= image_tag 'gallery/01.jpg'
      %li.current= image_tag 'gallery/02.jpg'
      %li= image_tag 'gallery/03.jpg'

%section.dark-banner
  .stitched-border
  .wrapper
    %article
      = image_tag ''
      %h1 Medical Article One
      %p A couple sentence blurb about this particular article.
    %article
      = image_tag ''
      %h1 Medical Article Two
      %p A couple sentence blurb about this particular article.
    %article
      = image_tag ''
      %h1 Medical Article Three
      %p A couple sentence blurb about this particular article.
    %article
      = image_tag ''
      %h1 Medical Article Four
      %p A couple sentence blurb about this particular article.
    %article
      = image_tag ''
      %h1 Medical Article Five
      %p A couple sentence blurb about this particular article.
    %article
      = image_tag ''
      %h1 Medical Article Six
      %p A couple sentence blurb about this particular article.
  .stitched-border

%section.content
  .wrapper
    %article
      %h1 Title of Something Exciting
      %p Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something.
      %p Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something.
    %article
      %h1 Title of Something Exciting
      %p Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something.
      %p Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something.
    %article
      %h1 Title of Something Exciting
      %p Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something.
      %p Text about the exciting something. More text about that exciting something. Text about the exciting something. More text about that exciting something.

