!!!
%html
  %head
    %title Dr. Daniel Nicoll | #{@title}
    = stylesheet_link_tag 'application', media: 'all'
    %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700', rel: 'stylesheet', type: 'text/css'}
    %link{href: 'http://fonts.googleapis.com/css?family=Crete+Round', rel: 'stylesheet', type: 'text/css'}
    = javascript_include_tag 'application', 'http://use.typekit.com/gmo3gwp.js'
    = csrf_meta_tags
    %meta{ name: 'description', content: 'Latest updates and information about Dr. Daniel Nicoll, DO.' }
    %meta{ name: 'keywords', content: 'Dr, Dr., Doctor, Dan, Daniel, Nicoll, DO, MD, OB, Tulsa, Oklahoma, OK, Obstetrics, Family Practice, Southcrest, Hillcrest, Saint Francis, Family Doctor, Family Practice, Wagoner' }
    :javascript
      // Typekit
      try{Typekit.load();}catch(e){}

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30848828-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{ class: @body_class }
    - if flash[:notice]
      .flash.notice= flash[:notice]
    - if flash[:alert]
      .flash.alert= flash[:alert]

    - if current_user
      = render 'partials/control_panel'

    = render 'partials/header'
    = yield
    = render 'partials/footer'
