!!!
%html
  %head
    %title Dr. Daniel Nicoll | #{@title}
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application', 'http://use.typekit.com/gmo3gwp.js', 'http://underscorejs.org/underscore-min.js'
    = csrf_meta_tags
    %meta{ name: 'description', content: 'Latest updates and information about Dr. Daniel Nicoll, DO.' }
    %meta{ name: 'keywords', content: 'Dr, Dr., Doctor, Dan, Daniel, Nicoll, DO, MD, OB, Tulsa, Oklahoma, OK, Obstetrics, Family Practice, Southcrest, Hillcrest, Saint Francis, Family Doctor, Family Practice, Wagoner' }
    :javascript
      // Typekit
      try{Typekit.load();}catch(e){}

      // Google Analytics
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30848828-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

  %body{ class: @body_class }
    %header
      .wrapper
        %h1
          = link_to 'Dr. Daniel Nicoll, DO', '/'
          %aside |&nbsp;&nbsp;&nbsp;Family Practice & Obstetrics
        %nav
          =link_to 'Home', '/', class: @body_class == 'home' ? 'current' : ''
          =link_to 'About', '/about', class: @body_class == 'about' ? 'current' : ''
          =link_to 'FAQ', '/answers', class: @body_class == 'faq' ? 'current' : ''
          =link_to 'Articles', '/articles', class: @body_class == 'articles' ? 'current' : ''

    = yield

    %footer
      .wrapper
        = semantic_form_for Question.new, html: { class: '' } do |f|
          = f.inputs do
            .two-column
              = f.input :name, placeholder: 'Your Name'
              = f.input :email, placeholder: 'Email Address'
            = f.input :message, input_html: { rows: 2 }
          = f.actions do
            = f.action :submit, label: 'Ask a Question'

      .foot
        .wrapper
          %p.copyright
            © 2012
            %span Dr. Daniel Nicoll.
            All Rights Reserved.
          %p.crafted
            crafted by cleverCode

